body {
  overflow-y: scroll;
  min-width: 1027px;
}
.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #5A5B74;
}

.App-header {
  background-color: #D7D6C7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.headerTitles{
  display: inline;
  color: #5A5B74;
  text-align: left;
  align-self: flex-start;
  margin-top: 90px;
  margin-left: 220px;
}
.headerTitles h1{
  font-weight: 700;
  font-size: 40px;
}
.headerTitles div{
  font-weight: 300;
  font-size: 30px;
}

.tableHeader{
  display: flex;
}

.resetButton{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.ProgressVis{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 50px;
  margin-top: 40px;
  color: #5A5B74;
  font-weight: 700;
  font-size: 40px;
  height: 96px;
  
  
}
.progressStrings{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.Progress{
  margin-top: 0px;
  text-align: left;
  /* background-color: #ffcd57; */
}
.progressCount {
  font-family: 'Josefin Sans', sans-serif;
  /* background-color: aliceblue; */
  align-self:last baseline;
  font-size: 30px;
}
.ProgressBar {
  height: 20px;
  background-color: white;
  border-radius: 20px;
  width: 560px;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
}

.ProgressFill{
  background-color: #9BDC9A;
  height: 100%;
  border-radius: inherit;
}



.filterBar{
  right: 0xp;
  padding-top: 30px;
  margin-left: 50px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  /* grid-auto-rows: minmax(20px, auto); */
  grid-gap: 10px;
  text-align: left;
  
}
.toggles {
  display: grid;
  grid-template-columns: repeat(2, auto); /* creates two columns for toggles */
  gap: 40px; /* space between toggles */
}

.dropdowns {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creates two columns for dropdowns */
  gap: 40px;
  
}

.filterToggle{
  color:#5A5B74;
  font-weight: 500;
  width: 190px;
  margin: auto;
}
.filterDropdown{
  width: 190px;
  margin: auto;
}

.filterDropdown .MuiFormControl-root {
  width: fit-content;
  margin:0px;
}
.listContainer{
  padding: 20px;
  border-radius: 20px;
  /* margin-top: 40px; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px; 
  justify-content: space-around;
  margin-left: auto; 
  margin-right: auto; 
  font-weight: 400;
}

.checklistColumn{
  border-top: 1px solid #29292942;
  width: 170px;
  margin-bottom: 20px;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  
}

.columnTitle{
  color: #5A5B74;
  font-size: 17px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}

.itemContainer{
  margin-top: 10px;
  border-radius: 6px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
}

.uberItemContainer{
  margin-top: 10px;
  border-radius: 6px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  border-bottom: #ffcd57 4px solid;
}

.itemTitleWrapper{
  width: 100%;
}
.itemTitle{
  color: #7A7892;
  font-size: 12px;
  padding-left: 10px;
  text-align: left;
}
