body {
  overflow-y: scroll;
}
.App {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #5A5B74;
}

.App-header {
  background-color: #D7D6C7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.headerTitles{
  display: inline;
  color: #5A5B74;
  text-align: left;
  align-self: flex-start;
  margin-top: 90px;
  margin-left: 220px;
}
.headerTitles h1{
  font-weight: 700;
  font-size: 40px;
}
.headerTitles div{
  font-weight: 300;
  font-size: 30px;
}

.tableHeader{
  display: flex;
  /* background-color: aqua; */
}

/* .ProgressVis{
  background-color: aliceblue;
} */
.Progress{
  margin-top: 30px;
  font-size: 40px;
  text-align: left;
  margin-left: 40px;
  color: #5A5B74;
  font-weight: 700;
}
.ProgressBar {
  height: 20px;
  background-color: white;
  border-radius: 20px;
  width: 560px;
  margin-left: 20px;
  box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.2);
}

.filterBar{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: start;
  align-items: start;
  text-align: left;

}

.listContainer{
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px; 
  justify-content: space-around;
  margin-left: auto; 
  margin-right: auto; 
  font-weight: 400;
}

.checklistColumn{
  border-top: 1px solid #29292942;
  width: 170px;
  margin-bottom: 20px;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  
}

.columnTitle{
  color: #5A5B74;
  font-size: 17px;
  margin-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}

.itemContainer{
  margin-top: 10px;
  border-radius: 6px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
}

.itemTitleWrapper{
  width: 100%;
}
.itemTitle{
  color: #7A7892;
  font-size: 12px;
  padding-left: 10px;
  text-align: left;
}
